In [1]:
!ls

nota  operations_leg.csv  README.md  scritpLecturaD.ipynb

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./operations_leg.csv', sep='^')

In [3]:
#imprimimos los puntos de los aeropuertos de los cuales tenemos que buscar datos del tiempo.
print data.board_point.unique()
print data.off_point.unique()

['LEU' 'HAU' 'SRP' 'SKU' 'SFT' 'IEV' 'SPC' 'JIK' 'TMR' 'RYG' 'VDE' 'OUA'
 'MZH' 'NDY' 'VIL' 'OSD' 'SIR' 'VDS' 'YQX' 'OMR' 'TMS' 'LAQ' 'MLN']
['HAU' 'LEU' 'SRP' 'SKU' 'SFT' 'IEV' 'SPC' 'JIK' 'TMR' 'RYG' 'VDE' 'OUA'
 'MZH' 'NDY' 'IBZ' 'VIL' 'OSD' 'SIR' 'VDS' 'YQX' 'OMR' 'TMS' 'LAQ' 'MLN'
 nan]

In [16]:
#data.describe

In [6]:
data['snapshot_date'].isnull().any()

False

In [8]:
data['flight_number'].isnull().any()
data['flight_number'].unique()

array([5354, 6454, 7754, 7854, 7154, 7254, 4755, 4855, 4556, 4656, 4756,
       4856, 4956, 4056, 4156, 4256, 4356, 5456, 5556, 5656, 5956, 5056,
       5356, 6456, 6556, 6656, 6356, 7456, 7156, 7256, 8556, 8656, 8956,
       8056, 8356, 9456, 9556, 9656, 9156, 9256, 9356,  456,  556,  656,
        756,  856,  956,   56,  356,  615, 1456, 2956, 2056, 3756, 3856,
        755,  765,  775,  785, 9957, 9057, 1757, 1857, 1957, 1057, 9558,
       9658, 9758, 9858, 9958, 9058, 4559, 4659, 4759, 4859, 4959, 4059,
       4159, 4259,  955, 5559, 5659, 5959, 5059, 5159, 5259, 5359,  965,
       6459, 6559, 6659, 6959, 6059,  975, 7559, 7659,  985])

In [11]:
##vuelos para el vuelo nÂº 5354
data[data['flight_number']==5354].head()

,snapshot_date,snapshot_time,airline_code,flight_number,flight_date,board_point,board_lat,board_lon,board_country_code,departure_date,...,total_rpk,total_ask,load_factor,total_pax,total_no_shows,total_cabin_crew,total_technical_crew,total_baggage_weight,number_of_baggage_pieces,file_sequence_number
0,2016-05-25,15:18:09,XX,5354,2016-05-20,LEU,42.338611,1.409167,ES,2016-05-20,...,421759.0,435179.0,0.969163,220.0,0.0,5.0,2.0,2737.0,202.0,P
1,2016-06-01,14:54:08,XX,5354,2016-05-27,LEU,42.338611,1.409167,ES,2016-05-27,...,425593.0,435179.0,0.977974,222.0,2.0,5.0,2.0,2615.0,192.0,P
2,2016-06-08,14:55:10,XX,5354,2016-06-03,LEU,42.338611,1.409167,ES,2016-06-03,...,400671.0,435179.0,0.920705,209.0,0.0,5.0,2.0,2613.0,182.0,P
3,2016-06-15,15:15:09,XX,5354,2016-06-10,LEU,42.338611,1.409167,ES,2016-06-10,...,387252.0,435179.0,0.889868,202.0,6.0,5.0,2.0,2302.0,168.0,P
4,2016-06-22,15:23:11,XX,5354,2016-06-17,LEU,42.338611,1.409167,ES,2016-06-17,...,433262.0,435179.0,0.995595,226.0,10.0,5.0,2.0,2680.0,195.0,P

In [12]:
#no tenemos nulos
data['flight_date'].isnull().any()

False

In [13]:
data['flight_date']

0       2016-05-20
1       2016-05-27
2       2016-06-03
3       2016-06-10
4       2016-06-17
5       2016-06-24
6       2016-07-01
7       2016-07-08
8       2016-07-15
9       2016-07-22
10      2016-07-29
11      2016-08-05
12      2016-08-12
13      2016-08-19
14      2016-08-26
15      2016-09-02
16      2016-05-20
17      2016-05-27
18      2016-06-03
19      2016-06-10
20      2016-06-17
21      2016-06-24
22      2016-07-01
23      2016-07-08
24      2016-07-15
25      2016-07-22
26      2016-07-29
27      2016-08-05
28      2016-08-12
29      2016-08-19
           ...
2626    2016-12-22
2627    2016-12-23
2628    2016-12-24
2629    2016-12-25
2630    2016-12-26
2631    2016-12-27
2632    2016-12-29
2633    2016-12-30
2634    2016-12-31
2635    2017-01-01
2636    2017-01-02
2637    2017-01-03
2638    2017-01-04
2639    2017-01-05
2640    2017-01-06
2641    2017-01-07
2642    2017-01-08
2643    2017-01-09
2644    2017-01-10
2645    2017-01-11
2646    2017-01-12
2647    2017-01-13
2648    2017-01-14
2649    2017-01-15
2650    2017-01-16
2651    2017-01-17
2652    2017-01-18
2653    2017-01-19
2654    2017-01-20
2655    2017-01-21
Name: flight_date, dtype: object

In [21]:
data['board_point'].uni

TypeError: 'int' object is not callable

In [23]:
data['board_lat'].unique()

array([ 42.338611,  59.41378 ,  59.791925,  38.967553,  64.624772,
        50.401694,  28.68351 ,  37.682717,  22.785   ,  59.38    ,
        27.80628 ,  12.36566 ,  40.829375,  59.25    ,  23.68477 ,
        63.39911 ,  46.22908 ,  70.07348 ,  48.95624 ,  47.0458  ,
         0.378175,  32.788673,  35.29369 ])

In [34]:
data[data['board_country_code'].isnull()]

,snapshot_date,snapshot_time,airline_code,flight_number,flight_date,board_point,board_lat,board_lon,board_country_code,departure_date,...,total_rpk,total_ask,load_factor,total_pax,total_no_shows,total_cabin_crew,total_technical_crew,total_baggage_weight,number_of_baggage_pieces,file_sequence_number
2655,2017-01-26,09:47:02,XX,985,2017-01-21,MLN,35.29369,-2.93833,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
datosEsp=data[data['board_country_code']=='ES']

In [38]:
print datosEsp['board_lat'].unique()
#print datosEsp['board_lon'].unique()

[ 42.338611  28.68351   27.80628   35.29369 ]

In [39]:
data['departure_date'].isnull().any()
#tiene nulos

True

In [56]:
data[data['flight_number']==985]['distance'].unique()

array([ 869.,   nan])

In [48]:
data['departure_date'].isnull().sum()

1

In [72]:
data[data['actual_time_of_arrival'].isnull() & data['arrival_delay'].isnull()].head()

,snapshot_date,snapshot_time,airline_code,flight_number,flight_date,board_point,board_lat,board_lon,board_country_code,departure_date,...,total_rpk,total_ask,load_factor,total_pax,total_no_shows,total_cabin_crew,total_technical_crew,total_baggage_weight,number_of_baggage_pieces,file_sequence_number
185,2016-09-01,19:44:07,XX,6456,2016-08-27,TMR,22.785000,5.522780,DZ,2016-08-27,...,344361.0,364228.0,0.945455,156.0,0.0,4.0,2.0,2586.0,152.0,P
773,2016-10-17,09:53:03,XX,4659,2016-10-12,TMS,0.378175,6.712153,ST,2016-10-12,...,0.0,1065959.0,0.000000,0.0,0.0,5.0,2.0,0.0,0.0,P
931,2017-01-14,04:00:07,XX,4159,2017-01-09,LEU,42.338611,1.409167,ES,2017-01-09,...,0.0,981434.0,0.000000,0.0,0.0,5.0,2.0,0.0,0.0,P
958,2017-01-14,11:30:08,XX,4259,2017-01-09,TMS,0.378175,6.712153,ST,2017-01-09,...,NaN,981434.0,NaN,NaN,0.0,5.0,2.0,0.0,0.0,P
1072,2016-07-13,20:55:09,XX,955,2016-07-08,LEU,42.338611,1.409167,ES,2016-07-08,...,211277.0,282400.0,0.748148,101.0,1.0,3.0,2.0,2295.0,129.0,P

In [77]:
data['routing']

0       LEU-HAU
1       LEU-HAU
2       LEU-HAU
3       LEU-HAU
4       LEU-HAU
5       LEU-HAU
6       LEU-HAU
7       LEU-HAU
8       LEU-HAU
9       LEU-HAU
10      LEU-HAU
11      LEU-HAU
12      LEU-HAU
13      LEU-HAU
14      LEU-HAU
15      LEU-HAU
16      HAU-LEU
17      HAU-LEU
18      HAU-LEU
19      HAU-LEU
20      HAU-LEU
21      HAU-LEU
22      HAU-LEU
23      HAU-LEU
24      HAU-LEU
25      HAU-LEU
26      HAU-LEU
27      HAU-LEU
28      HAU-LEU
29      HAU-LEU
         ...
2626    MLN-LEU
2627    MLN-LEU
2628    MLN-LEU
2629    MLN-LEU
2630    MLN-LEU
2631    MLN-LEU
2632    MLN-LEU
2633    MLN-LEU
2634    MLN-LEU
2635    MLN-LEU
2636    MLN-LEU
2637    MLN-LEU
2638    MLN-LEU
2639    MLN-LEU
2640    MLN-LEU
2641    MLN-LEU
2642    MLN-LEU
2643    MLN-LEU
2644    MLN-LEU
2645    MLN-LEU
2646    MLN-LEU
2647    MLN-LEU
2648    MLN-LEU
2649    MLN-LEU
2650    MLN-LEU
2651    MLN-LEU
2652    MLN-LEU
2653    MLN-LEU
2654    MLN-LEU
2655        NaN
Name: routing, dtype: object

In [81]:
a320 = data[data['aircraft_type']=='320']

In [83]:
a320['aircraft_registration_number'].unique()

array(['XJRAT', 'XJMAT', 'XJOAT', 'XJXAT', 'XJNAT', 'XJYAT', 'XJTAT',
       'XJPAT', 'XJUAT', 'XJWAT'], dtype=object)

In [96]:
cancelled = data[data['general_status_code']=='Cancelled']

In [100]:
pd.options.display.max_columns = 999

In [101]:
cancelled

     snapshot_date snapshot_time airline_code  flight_number flight_date board_point  board_lat  board_lon board_country_code departure_date  arrival_date off_point    off_lat    off_lon off_country_code  distance scheduled_time_of_departure estimated_time_of_departure actual_time_of_departure scheduled_time_of_arrival estimated_time_of_arrival actual_time_of_arrival  departure_delay  arrival_delay  sched_blocktime  est_blocktime  act_blocktime aircraft_type aircraft_registration_number general_status_code  routing cabin_1_code  cabin_1_fitted_configuration  cabin_1_saleable  cabin_1_pax_boarded  cabin_1_rpk  cabin_1_ask cabin_2_code  cabin_2_fitted_configuration  cabin_2_saleable  cabin_2_pax_boarded  cabin_2_rpk  cabin_2_ask  cabin_3_code  cabin_3_fitted_configuration  cabin_3_saleable  cabin_3_pax_boarded  cabin_3_rpk  cabin_3_ask  cabin_4_code  cabin_4_fitted_configuration  cabin_4_saleable  cabin_4_pax_boarded  cabin_4_rpk  cabin_4_ask  total_rpk  total_ask  load_factor  total_pax  total_no_shows  total_cabin_crew  total_technical_crew  total_baggage_weight  number_of_baggage_pieces file_sequence_number
931     2017-01-14      04:00:07           XX           4159  2017-01-09         LEU  42.338611   1.409167                 ES     2017-01-09           NaN       TMS   0.378175   6.712153               ST    4696.0         2017-01-09 05:00:00                         NaN                      NaN       2017-01-09 11:30:00                       NaN                    NaN              NaN            NaN            450.0            NaN            NaN           32B                        XLUAT           Cancelled  LEU-TMS            Y                         209.0             209.0                  0.0          0.0     981434.0          NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN        0.0   981434.0     0.000000        0.0             0.0               5.0                   2.0                   0.0                       0.0                    P
958     2017-01-14      11:30:08           XX           4259  2017-01-09         TMS   0.378175   6.712153                 ST     2017-01-09           NaN       LEU  42.338611   1.409167               ES    4696.0         2017-01-09 11:30:00                         NaN                      NaN       2017-01-09 18:40:00                       NaN                    NaN              NaN            NaN            370.0            NaN            NaN           32B                        XLUAT           Cancelled  TMS-LEU            Y                         209.0             209.0                  NaN          NaN     981434.0          NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN        NaN   981434.0          NaN        NaN             0.0               5.0                   2.0                   0.0                       0.0                    P
1144    2016-11-16      21:45:06           XX            955  2016-11-11         LEU  42.338611   1.409167                 ES     2016-11-11           NaN       LAQ  32.788673  21.964333               LY    2092.0         2016-11-11 22:45:00                         NaN                      NaN       2016-11-12 03:45:00                       NaN                    NaN              NaN            NaN            240.0            NaN            NaN           319                        XHWAT           Cancelled  LEU-LAQ            Y                         122.0             104.0                  NaN          NaN     217552.0            J                           1.0              15.0                  NaN          NaN      31378.0           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN        NaN   248930.0          NaN        NaN             0.0               3.0                   2.0                   0.0                       0.0                    P
1559    2016-07-14      00:50:11           XX            965  2016-07-09         LAQ  32.788673  21.964333                 LY     2016-07-09           NaN       LEU  42.338611   1.409167               ES    2092.0         2016-07-09 02:50:00                         NaN                      NaN       2016-07-09 09:55:00                       NaN                    NaN              NaN            NaN            425.0            NaN            NaN           319                        XHUAT           Cancelled  LAQ-LEU            Y                         137.0             129.0                119.0     248930.0     269848.0            J                           1.0               6.0                  2.0       4184.0      12551.0           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN   253114.0   282400.0     0.896296      121.0             0.0               3.0                   2.0                1534.0                     100.0                    P
1631    2016-11-17      01:40:04           XX            965  2016-11-12         LAQ  32.788673  21.964333                 LY     2016-11-12           NaN       LEU  42.338611   1.409167               ES    2092.0         2016-11-12 03:40:00                         NaN                      NaN       2016-11-12 09:50:00                       NaN                    NaN              NaN            NaN            430.0            NaN            NaN           319                        XHWAT           Cancelled  LAQ-LEU            Y                         122.0             104.0                  NaN          NaN     217552.0            J                           1.0              15.0                  NaN          NaN      31378.0           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN        NaN   248930.0          NaN        NaN             0.0               3.0                   2.0                   0.0                       0.0                    P
1760    2016-04-06      23:50:10           XX           6559  2016-04-02         LEU  42.338611   1.409167                 ES     2016-04-02           NaN       TMS   0.378175   6.712153               ST    4696.0         2016-04-02 01:50:00                         NaN                      NaN       2016-04-02 07:20:00                       NaN                    NaN              NaN            NaN            450.0            NaN            NaN           75W                        XNAAT           Cancelled  LEU-TMS            Y                         227.0             227.0                  0.0          0.0    1065959.0          NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN        0.0  1065959.0     0.000000        0.0             0.0               5.0                   2.0                   0.0                       0.0                    P
1775    2016-04-07      07:20:13           XX           6659  2016-04-02         TMS   0.378175   6.712153                 ST     2016-04-02           NaN       LEU  42.338611   1.409167               ES    4696.0         2016-04-02 07:20:00                         NaN                      NaN       2016-04-02 16:25:00                       NaN                    NaN              NaN            NaN            425.0            NaN            NaN           75W                        XNAAT           Cancelled  TMS-LEU            Y                         227.0             227.0                  0.0          0.0    1065959.0          NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN           NaN                           NaN               NaN                  NaN          NaN          NaN        0.0  1065959.0     0.000000        0.0             0.0               5.0                   2.0                   0.0                       0.0                    P